@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.site-header {
  background-color: #1a0b2e;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.brand h2 {
  display: flex;
}

.brand-light {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.brand-gradient {
  font-size: 2rem;
  font-weight: 800;
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}

.primary-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 16px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 576px) {
  .top-nav {
    padding: 18px 20px;
  }

  .nav-links,
  .nav-action {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}

/* Hero Section */
.hero-section {
  height: 760px;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.hero-wrapper {
  text-align: center;
  padding-top: 93px;
}

/* Podcast Circle */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-circle {
  width: 350px;
  height: 350px;
  background-image: url("../assets/hero-circle.png");
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.podcast-circle img {
  width: 116px;
}

.new-badge {
  position: absolute;
  top: 6%;
  right: 5%;
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 8px 16px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5);
  animation: badge-pulse 1.5s infinite;
}

@keyframes badge-pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

/* Hero Text */
.hero-text h2 {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 40px;
}

.hero-text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  margin-top: 8px;
}

/* Hero Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 625rem;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.spotify-btn {
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
  color: #ffffff;
}

.subscribe-btn {
  background-color: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}

@media (max-width: 576px) {
  .hero-section {
    height: 466px;
    background-size: 100% 100%;
  }

  .hero-wrapper {
    padding-top: 40px;
  }

  .podcast-circle {
    width: 200px;
    height: 200px;
  }

  .podcast-circle img {
    width: 47px;
  }

  .hero-text h2 {
    font-size: 2.5rem;
    margin-top: 24px;
  }

  .hero-text p {
    font-size: 1.04rem;
  }

  .new-badge {
    width: 70px;
    height: 35px;
    top: 2%;
    right: -3%;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .cta-btn {
    font-size: 0.9rem;
    padding: 10px 16px;
  }
}

/* About Section */
.podcast-about {
  background-color: #1a0b2e;
}

.podcast-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px 120px 20px;
}

.podcast-info {
  text-align: center;
}

.podcast-info h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.podcast-info p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 16px;
  line-height: 1.6;
}

.podcast-about hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 80px 0 0 0;
}

.podcast-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-items: center;
  margin-top: 80px;
}

.stat-block h2 {
  font-size: 3rem;
  font-weight: 900;
  color: #00ff88;
}

.stat-block p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 16px;
}

.star-icon i {
  font-size: 3rem;
}

@media (max-width: 576px) {
  .podcast-wrapper {
    padding: 20px 20px 60px 20px;
  }

  .podcast-info h2 {
    font-size: 2rem;
  }

  .podcast-about hr {
    margin-top: 40px;
  }

  .podcast-stats {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
  }

  .stat-block h2 {
    font-size: 2.5rem;
  }

  .stat-block p {
    font-size: 0.85rem;
  }

  .star-icon i {
    font-size: 2.5rem;
  }
}

/*Why Choose TechWave Section*/

.why-choose-section {
  background-color: #230e3d;
}


.why-wrapper {
  padding: 120px 200px;
}

.why-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "interview interview resource";
  gap: 30px;
  margin-top: 40px;
}


.audio {
  grid-area: audio;
}

.mobile {
  grid-area: mobile;
}

.global {
  grid-area: global;
}

.interview {
  grid-area: interview;
}

.resource {
  grid-area: resource;
}


.why-card-big {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 100px 40px;
}

.why-card-big h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 16px;
}

.why-card-big p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 16px;
}

/* Small cards */
.why-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}


.why-card h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 16px;
}

.why-card p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 16px;
}


/* Responsive (Mobile) */

@media screen and (max-width: 576px) {
  .why-wrapper {
    padding: 40px 20px;
  }

  .why-title {
    font-size: 2rem;
  }

  .why-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "interview"
      "resource";
    margin-top: 20px;
  }

  .why-card-big {
    padding: 24px;
  }

  .why-card-big h4,
  .why-card h4 {
    font-size: 1.375rem;
  }
}


/* Featured Podcast Section & Host Section CSS */
.podcast-feature-section {
  background-color: #1a0b2e;
  padding-top: 120px;
  padding-bottom: 120px;
}

.podcast-feature-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.podcast-feature-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.podcast-feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}


.podcast-card {
  width: 380px;
  background-color: #250d44;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}


.podcast-video {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.podcast-video iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.podcast-card-content {
  padding: 24px;
}

.podcast-card-content h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 12px;
}

.podcast-card-content p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
}


.podcast-duration {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #00ff88;
  font-size: 1rem;
}

.podcast-duration img {
  width: 20px;
  height: 20px;
}


.podcast-host-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.podcast-host-card {
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;

}


.host-image-wrapper img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}


.host-info-wrapper h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 12px;
}

.host-info-wrapper p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 16px;
}


.host-social-links {
  display: flex;
  gap: 8px;
}

.host-social-links .social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(83, 60, 114, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.host-social-links .social-icon img {
  width: 20px;
  height: 20px;
}

/* Mobile Responsiveness */
@media screen and (max-width: 576px) {

  .podcast-feature-section {
    padding: 40px 20px;
  }

  .podcast-feature-title {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .podcast-feature-grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .podcast-card {
    width: 100%;
    margin-top: 24px;
  }

  .podcast-card-content h3 {
    font-size: 1.25rem;
  }

  .podcast-card-content p {
    font-size: 0.95rem;
  }

  .podcast-duration {
    font-size: 0.9rem;
  }


  .podcast-host-title {
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 24px;
  }

  .podcast-host-card {
    flex-direction: column;
    text-align: center;
    padding: 24px;
    gap: 16px;
  }

  .host-image-wrapper img {
    width: 150px;
    height: 150px;
  }

  .host-info-wrapper h3 {
    font-size: 1.5rem;
  }

  .host-info-wrapper p {
    font-size: 0.95rem;
  }


  .host-social-links {
    justify-content: center;
  }

}


/* Footer Section (Renamed Classes)*/

.site-footer {
  height: 412px;
  background-image: url(../assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px;
}

.site-footer-logo {
  text-align: center;
}

.site-footer-logo img {
  height: 60px;
  width: 410px;
}

.site-footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  gap: 40px;
}

.footer-link-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-link-item img {
  height: 20px;
  width: 20px;
}

.footer-link-item span {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.site-footer-copy p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-top: 32px;
}

/* Responsive Footer (Mobile)*/

@media screen and (max-width: 576px) {

  .site-footer {
    height: auto;
    padding: 40px 16px;
  }

  .site-footer-logo img {
    width: 200px;
    height: auto;
  }

  .site-footer-links {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 12px;
    margin-top: 20px;
    justify-content: center;
  }

  .footer-link-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .footer-link-item img {
    width: 18px;
    height: 18px;
  }

  .footer-link-item span {
    font-size: 0.85rem;
  }

  .site-footer-copy p {
    font-size: 0.8rem;
    margin-top: 20px;
  }
}